@import "tailwindcss";

@layer base {
  :root {
    --background: #0a0d12;
    --foreground: #e6eef6;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
